{% extends "templates/base.html" %}

{% block content %}
    <br>
    <form action = 'login' method="post">
        <fieldset>
            <b>Username:</b><input type="text" name="userid" size="20" maxlength="20" /><span class = 'error'>{{ error.user_error }}</span>
            <br>
            <br>
            <b>Password:</b><input type="password" name="pass" size="20" maxlength="20" /><span class = 'error'>{{ error.pass_error }}</span>
            <div align="center"><input type="submit" name="submit" value="Login" /></div>
        </fieldset>
    </form>
    {% for todo in todos %}
        <div class="post">
            <div class= "post-content" id ='{{ todo.id }}'>{{ todo.item }}</div><a href = '/mvctodolist/public/home/edit/{{ todo.id }}'>Edit</a><a href= '/mvctodolist/public/home/delete/{{ todo.id }}'>Delete</a>
        </div>
    {% endfor %} 
    {% endblock %}