{% extends "templates/base.html" %}

{% block content %}
    <div value="{{ username }}">Welcome {{ username }}</div>
    <br>
    <form action="/" method="post">
        <fieldset>
            <p><b>Userid:</b><input type="text" name="userid" size="20" maxlength="20" /></p>
            <p><b>Password:</b><input type="password" name="pass" size="20" maxlength="20" /></p>
            <div align="center"><input type="submit" name="submit" value="Login" /></div>
            <input type="hidden" name="submitted" value="TRUE" />
        </fieldset>
    </form>
    {% for todo in todos %}
        <div class="post">
            <div class= "post-content" id ='{{ todo.id }}'>{{ todo.item }}</div><a href = '/mvctodolist/public/home/edit/{{ todo.id }}'>Edit</a><a href= '/mvctodolist/public/home/delete/{{ todo.id }}'>Delete</a>
        </div>
    {% endfor %} 
    {% endblock %}