{% extends "templates/base.html" %}

{% block content %}
    <div>Welcome {{ username }}</div>
    {% for todo in todos %}
        <div class="post">
            <div class= "post-content" id ='{{ todo.id }}'>{{ todo.item }}</div><a href = '/mvctodolist/public/home/edit/{{ todo.id }}'>Edit</a><a href= '/mvctodolist/public/home/delete/{{ todo.id }}'>Delete</a>
        </div>
    {% endfor %} 
    {% endblock %}